.input-default{
    border: 1px solid #C6BDBD;
    box-shadow: 2px 4px 4px 0px #C6BDBD40;
    border-radius: 3px;
    width: 100%;
    font-size: 16px;
    height: 40px;
    padding-left: 10px;
}
.input{
    margin-bottom: 5px;
}
.input-error{
    border: 1px solid #F23C3C;
    box-shadow: 2px 4px 4px 0px #F23C3C40;
}
.input-ok{
    border: 1px solid #406FE9;
    box-shadow: 2px 4px 4px 0px #406FE940;
}

.input-default_label{
    font-size: 12px;
    opacity: 0;
}

.input-default_error-tag{
    color: #F23C3C;
    font-size: 10px;
    opacity: 0;
}

.label-active{
    opacity: 1;
}


